<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <p>Play!</p>

  <ul style="list-style-type:none" >
  <% @board.matrix.each do |row| %>
    <li>
    <% row.each do |elem| %>
      <% if elem.state != nil %>
        <%= " #{elem.state}" %>
      <% else %>
        <%= " *" %>
      <% end %> 
    <% end %>
    </li>
  <% end %>
  </ul>

  <form method='post' action='game/move'>
    <div>
        <label for="coord"><%= @current_player.name %> - Give <%=@current_player.symbol%> coordinates: </label>
        <input type=text id="coord" name="coord" size="3" placeholder="A1">
    </div>

    <div>
      <input type='submit' value="Put!">
    </div>
  </form>

</body>
</html>