<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <p>Hello there!</p> 
  <form method='post' action='/fight'>
    <div>
      <label for="firstplayer">Player 1 name:</label>
      <input type=text name="firstplayer" id="firstplayer" size="10" placeholder="Player1">
    </div>

    <div>
      <label for="secondplayer">Player 2 name:</label>
      <input type=text name="secondplayer" id="secondplayer" size="10" placeholder="Player2">
    </div>

    <div>
      <input type='submit' value="Fight!">
    </div>

  </form>

</body>
</html>