<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <p>Hello there!</p> 
  <form method='post' action='/play'>
    <div>
      <label for="1rst-player">Player 1 name:</label>
      <input type=text id="1rst-player" size="10" placeholder="0">
    </div>

    <div>
      <label for="2nd-player">Player 2 name:</label>
      <input type=text id="2nd-player" size="10" placeholder="0">
    </div>

    <div>
      <input type='submit' value="Fight!">
    </div>
    
  </form>

</body>
</html>